.text {
  font-family: "Michroma";
  color: var(--text-color);
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.942);
}

.body {
  font-size: 1.2em;
  font-weight: 900;
}

@media (max-width: 768px) {
  .body {
    font-size: 1.4em;
  }
}

@media (max-width: 480px) {
  .body {
    font-size: 1.3em;
  }
}

@media (max-width: 360px) {
  .body {
    font-size: 1.1em;
  }
}
