.titleContainer {
  text-align: center;
  margin-bottom: 3em;
}

.title {
  font-size: 3.5rem;
  color: var(--ski-blue-1);
  font-weight: 700;
  margin-bottom: 0.5em;
}

.subtitle {
  font-size: 1.6rem;
  color: #cfd4d8;
}

@media (max-width: 1024px) {
  .title {
    font-size: 3.6rem;
  }
  .subtitle {
    font-size: 1.7rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 3.3rem;
  }

}


@media (max-width: 480px) {
  .title {
    font-size: 3rem;
  }

}
