.title {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: left;
  line-height: 1.1;
}

.title span {
  color: var(--ski-blue-1);
}

@media (max-width: 768px) {
  .title {
    font-size: 3.8rem;
  }
}
@media (max-width: 480px) {
  .title {
    text-align: center;
    font-size: 3.5rem;
    line-height: 1.1;
  
  }
}