.card {
  overflow: hidden;
  padding: 2em;
  border-radius: 12px;
  transition: transform 0.4s;
  position: relative;
  box-shadow: 0 10px 30px rgba(47, 182, 216, 0.27);
  border: 1px solid var(--ski-blue-1);
  height: 25em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.074) 0%,
    rgb(0, 0, 0) 100%
  );
  z-index: 0;
  border-radius: 12px;
}

.card > * {
  position: relative;
  z-index: 1;
  
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(2, 16, 20, 0.589);
  border-color: var(--text-color);
}

.cardTitle {
  font-family: 'Michroma';
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1em;
}

.cardDescription {
  font-size: 1.3rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
