.caroussel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 100%;
  background: linear-gradient(90deg, #0f202a, #0f131b);
  overflow: hidden;
}

.carouselWrapper {
  width: 100%;
  overflow: hidden;
  padding: 48px 0;
}

.carouselTrack {
  display: flex;
  width: fit-content;
  animation: scroll 40s linear infinite;
}

.carouselTrack:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 991px) {
  .caroussel{
    height: 18vh;
  }
}
@media (max-width: 768px) {
  .caroussel{
    height: 16vh;
  }

  .carouselWrapper {
    padding: 32px 0;
  }

  .carouselTrack {
    animation: scroll 35s linear infinite;
  }
}

@media (max-width: 480px) {
  .carousel {
    height: 16vh;
  }

  .carouselWrapper {
    padding: 24px 0;
  }

  .carouselTrack {
    animation: scroll 30s linear infinite;
  }
}

@media (max-width: 360px) {
  .carousel {
    height: 14vh;
  }

  .carouselWrapper {
    padding: 16px 0;
  }

  .carouselTrack {
    animation: scroll 25s linear infinite;
  }
}