.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 6em;
    padding: 10px 5%;
    background: var(--bg-colortree);
    position: fixed;
    z-index: 100;
    transition: .3s;
    box-shadow: 0px 1px 5px var(--ski-blue-2);
}