.opportunities {
  padding: 5em 8%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-courss);
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  color: var(--text-color);
  margin-top: 4em;
}

.soporte {
  background-image: url('/public/soporte-tecnico.jpg');
  background-size: cover;
  background-position: center;
}

.redes {
  background-image: url('/public/redes.jpg');
  background-size: cover;
  background-position: center;
}

.seguridad {
  background-image: url('/public/seguridad.jpg');
  background-size: cover;
  background-position: center;
}

.programacion {
  background-image: url('/public/programming.jpg');
  background-size: cover;
  background-position: center;
}

.diseno {
  background-image: url('/public/diseno.jpg');
  background-size: cover;
  background-position: center;
}

.edicion {
  background-image: url('/public/edicion.jpg');
  background-size: cover;
  background-position: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* responsivo*/
@media (min-width: 1024px) {
  .cardsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 767px) {
  .cardsContainer {
    grid-template-columns: 1fr; 
    gap: 1.5em; 
  }

  .card {
    padding: 2em; 
    min-height: 300px;
  }
}
