.opportunities {
  padding: 5em 8%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg-courss);
  gap: 5em;
}

.cardsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  color: var(--text-color);
  width: 100%;
}

.soporte {
  background-image: url('/soporte-tecnico.jpg');
  background-size: cover;
  background-position: center;
}

.redes {
  background-image: url('/redes.jpg');
  background-size: cover;
  background-position: center;
}

.seguridad {
  background-image: url('/seguridad.jpg');
  background-size: cover;
  background-position: center;
}

.programacion {
  background-image: url('/programming.jpg');
  background-size: cover;
  background-position: center;
}

.diseno {
  background-image: url('/diseno.jpg');
  background-size: cover;
  background-position: center;
}

.edicion {
  background-image: url('/edicion.jpg');
  background-size: cover;
  background-position: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* responsivo*/
@media (min-width: 991px) {
  .opportunities{
    padding: 4em 5%;
  }
}

@media (max-width: 768px) {
  .opportunities{
    padding: 2em 2%;
  }
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .cardsContainer {
    grid-template-columns: 1fr; 
    gap: 1.5em; 
  }

  .card {
    padding: 2em; 
    min-height: 300px;
  }
}
