.opportunities {
  display: flex;
  gap: 2.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 8%;
  background: linear-gradient(90deg, #0f131b, #0f202a);
}

.title {
  text-align: center;
  font-size: 2.8em;
}
.title span {
  color: var(--ski-blue-1);
}

