/*
-------------------- FONTS -----------------------
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: "Michroma";
    src: url(/src/assets/fonts/Michroma.woff2) format(woff2);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Michroma";
    src: url(/src/assets/fonts/Michroma.woff2) format("woff2");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Montserrat";
    src: url(/src/assets/fonts/Montserrat.woff2) format(woff2);
    font-style: normal;
    font-weight: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
  /* Background colors */
    --nav-color: #0f131b;
    --bg-home: #101c26;
    --bg-courss: #0f131b;
    --bg-reasons:#0f202a;
    
    /*degradado*/
    --color-blu: #10212b;
    --color-blu-2: #11141c;
    /*Colors text and cards*/
    --text-color:#ededed;
    --black:#000000;
    --hover-color:#0f202a;
    --ski-blue-1:#2fb7d8;
    --card-border:#0f364a;
    --card-color:#0f3141;
    --gray-claro: #302e33;
    --gray: #191919 ;
    
    /*SHADOWS*/
      
}



html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  background: var(--bg-home);
  color: var(--text-color);
}
section:not([class*="home"], [class*="caroussel"]) {
  min-height: 100vh;
  width: 100%;
  position: relative;
}



/*
================ RESPONSIVE DESIGN ===================
*/
@media(max-width: 1200px){
  html{
  font-size: 55.5%;
}
}
@media(max-width: 991px){
  html{
  font-size: 50.5%;
}
}
@media(max-width: 768px){
  html{
  font-size: 46.5%;
}
section:not( [class*="caroussel"]){
  min-height: 90vh;
  width: 100%;
}
}
@media(max-width: 550px){
  html{
  font-size: 42.5%;
}
}
@media(max-width: 420px){
    html{
  font-size: 42.5%;
}
}
